<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">

            <!-- Info -->
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <img src="whiteLogo.svg" class="logo">
                    <h5> ShopFlow</h5>
                </div>
                <p class="small">
                    Sistema de ventas intuitivo, confiable y rápido. Gestión de productos y facturación.
                </p>
            </div>

            <!-- Enlaces -->
            <div class="col-md-3 mb-3 mb-md-0">
                <h6>Enlaces rápidos</h6>
                <ul class="list-unstyled">
                    <li><button class="text-light text-decoration-none">Inicio</button></li>
                    <li><button class="text-light text-decoration-none">Productos</button></li>
                    <li><button class="text-light text-decoration-none">Ventas</button></li>
                    <li><button class="text-light text-decoration-none">Contacto</button></li>
                </ul>
            </div>

            <!-- Contacto -->
            <div class="col-md-3">
                <h6>Contacto</h6>
                <ul class="list-unstyled small">
                    <li>Email: contacto&#64;shopflow.com</li>
                    <li>Tel: +34 123 456 789</li>
                    <li>Dirección: Calle Ficticia 123, Madrid</li>
                </ul>
            </div>

        </div>

        <hr class="border-secondary my-4" />

        <div class="text-center small">
            &copy; 2025 Mi Tienda Online. Todos los derechos reservados.
        </div>
    </div>
</footer>